header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--brand-1) solid 3px;
    padding: 10px 0;
    margin: 20px 0;
}
.header__button{
    border: none;
    width:44px;
    height: 33px;
    padding: 9px, 14px, 9px, 14px;
    border-radius: 5px;
    color: var(--text-color-1);
    background-color: var(--background-color-3);
}
/*



*
/