.header__container{
    width: clamp(37.5rem, 0.357rem + 77.381vw, 70rem);
    margin-bottom: 150px;
}
.header{
    border-bottom: var(--brand-1) solid 3px;
    width: clamp(37.5rem, 0.357rem + 77.381vw, 70rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-1);
    padding: 48px 0 48px 0;
    position: fixed;
}
.header__button{
    border: none;
    width:44px;
    height: 33px;
    padding: 9px, 14px, 20px, 14px;
    border-radius: 5px;
    color: var(--text-color-1);
    background-color: var(--background-color-3);
}
.header__button:hover{
    cursor: pointer;
}
/*



*
/