#priceRange {
  width: 99%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
  justify-content: space-between;
}
#priceRangeText {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}
#rangeInput {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 85%;
    outline: none;
    background-color: var(--brand-1);
    border-radius: 0.5rem;
    height: 0.5rem;
    margin-top: 20px;
}
#rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5rem solid var(--brand-1);
}
#priceRangeButton{
  background: var(--brand-2);
  width: 9%;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
}
